
FootyAPI/obj/

FootyAPI/bin/Debug/netcoreapp2\.1/

\.vs/FootyAPI/v15/Server/sqlite3/

\.vs/FootyAPI/v15/

\.vs/config/

\.vs/FootyAPI/DesignTimeBuild/\.dtbcache

FootyAPI\.DAL/obj/

FootyAPI\.Logic/bin/Debug/netcoreapp2\.1/

FootyAPI\.Logic/obj/Debug/netcoreapp2\.1/

FootyAPI\.Logic/obj/
